<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        <!-- 遍历数组 -->
        <ul>
            <li v-for="p in persons" :key="p.id">{{p.name}}-{{p.age}}</li>
        </ul>
        <!-- 遍历对象 -->
        <ul>
            <li v-for="(a,b) in car" :key="b">{{a}}-{{b}}</li>
        </ul>
        <!-- 遍历数字（遍历次数） -->
        <ul>
            <li v-for="(i,index) in 10" :key="index">{{i}}-{{index}}</li>
        </ul>
        <!-- 遍历字符串 -->
        <ul>
            <li v-for="char, index in 'zhangfan'" :key="index">{{char}}-{{index}}</li>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false;

        const x = new Vue({
            el:"#root",
            data:{
                persons:[
                    {id:001,name:"张三",age:19},
                    {id:002,name:"李四",age:20},
                    {id:003,name:"王五",age:21}
                ],
                car:{
                    "品牌":"奔驰",
                    "价格":"100w",
                    "颜色":"黑色"
                }
            }
        })
    </script>
</body>
</html>