<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        <form @submit.prevent="submit">  <!-- prevent事件修饰符，阻止默认事件-->
            账号：<input type="text" v-model.trim="account"><br/><br/><!-- trim修饰，能够让accout去掉前后空格-->
            密码：<input type="password" v-model="password"><br/><br/>
            年龄：<input type="number" v-model.number="age"><br/><br/><!-- 前面的number修饰，是原生的html标签
                                                                        表示只能输入数字， 后面number是vue的，
                                                                        表示只能接受数字-->
            
            性别：男<input type="radio" name="sex" v-model="sex" value="male">
                  女<input type="radio" name="sex" v-model="sex" value="female"><br/><bfer/>

            爱好：抽烟<input type="checkbox" v-model="hobby" value="抽烟">
                  喝酒<input type="checkbox" v-model="hobby" value="喝酒">
                  烫头<input type="checkbox" v-model="hobby" value="烫头"><br/><br/>

            所属校区：
            <select v-model="saddress">
                <option value="">请选择校区</option>
                <option value="五山校区">五山校区</option>
                <option value="大学城校区">大学城校区</option>
                <option value="国际校区">国际校区</option>
            </select><br/><br/>
            
            其他信息<textarea v-model.lazy="other"></textarea><br/><br/>

            <input type="checkbox" v-model="agree">阅读并接受<a href="http://www.scut.edu.cn">《用户协议》</a>
            <button>提交</button>
        </form>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false;


        const vm = new Vue({
            el:"#root",
            data:{
                account:"",
                password:"",
                age:"",
                sex:"",
                hobby:[],
                saddress:"",
                other:"",
                agree:""
            },
            methods:{
                submit(){
                    console.log(JSON.stringify(this._data))
                }
            }
        })
    </script>
</body>
</html>